.app .footer {
  background: #000;
  color: #fff;
  width: 100%;
  padding: 50px 30px;
  @include page-frame;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  &__logo { width: 122px; display: block; }
  &__legal { margin: 0; font-size: 24px; text-align: center; }
}

/* -------- 1440px -------- */
@media (max-width: 1440px) {
  .app .footer { padding: 40px $pad-tablet 30px; }
}

/* -------- 375px -------- */
@media (max-width: 375px) {
@media (max-width: 375px) {
  .app .footer {
    padding-block: 50px;  /* top & bottom */
    gap: 10px;               /* enlève l'espace entre logo et texte */
  }

  .app .footer__legal {
    white-space: pre-line; /* pour "All\nrights" dans le JSX */
    font-size: 12px;       /* taille mobile */
    line-height: 1.4;
    margin: 0;
    text-align: center;
  }
}
}