.header {
  width: 100%;
}

.header__inner {
  width: 100%;
  margin: 0;
  padding: 50px $pad-desktop;   // ← utiliser la variable
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img { width: 210px; }

.header__nav {
  display: flex;
  gap: 3rem;
}

.header__nav a {
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: $black;

  &.active { text-decoration: underline; }
}

/* -------- -------- */
@media (max-width: 1024px) {
  .header__inner {
    padding: 40px $pad-tablet;  // aligné avec banner
  }
}

@media (max-width: 375px) {
  .header__inner {
    padding: 20px;   /* réduit le padding autour */
  }

  .header__logo img {
    width: 145px;    /* logo réduit */
  }

  .header__nav {
    gap: 20px;       /* espace réduit entre les liens */
  }

  .header__nav a {
    font-size: 12px;
    font-weight: 500;
  }
}