
@use "sass:meta";
@use "variables" as *;
@use "mixins" as *;


@use "./a11y";
@use "./accordion";


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


* { box-sizing: border-box; margin: 0; padding: 0; }
html, body, #root { height: 100%; }

html, body {
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
  color: #000;
}


.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-content { flex: 1 0 auto; }

@include meta.load-css("header");
@include meta.load-css("banner");
@include meta.load-css("card");
@include meta.load-css("grid");
@include meta.load-css("logement");
@include meta.load-css("apropos");
@include meta.load-css("footer");
@include meta.load-css("notFound");