$primary: #ff6060;

.notfound {
  /* même cadrage que le reste */
  margin: 0 auto;
  padding: 80px 100px 120px;

  /* centrage vertical/horizontal du contenu */
  display: grid;
  justify-items: center;
  row-gap: 24px;
  text-align: center;
}

.notfound__code {
  margin: 0;
  font-weight: 700;
  color: $primary;
  line-height: 1;
  /* tailles fluides pour grand écran */
  font-size: 288px;
}

.notfound__msg {
  margin: 100px 0 0px 0;
  font-size: 36px;
  color: $primary; // comme sur la maquette
  font-weight: 500;
}

.notfound__link {
  font-size: 18px;
  color: #000;
  margin-top: 160px;
}

.notfound__code {
  font-family: 'Montserrat', sans-serif;
}