/* styles/variables.scss */
$primary: #ff6060 !default;

$white: #fff !default;
$black: #000 !default;

$radius-lg: 25px !default;
$radius-card: 10px !default;

/* Largeurs et paddings */
$container-max: 1240px !default; // maquette figma
$pad-desktop: 100px !default;    // écran 2540
$pad-tablet: 60px !default;      // écran 1440
$pad-mobile: 20px !default;      // mobile 375
$bp-xs: 375px !default;