$primary: #ff6060;

$white: #fff;
$black: #000;

$radius-lg: 25px;
$radius-card: 10px;

/* Largeurs et paddings */
$container-max: 1240px; // maquette figma
$pad-desktop: 100px;    // écran 2540
$pad-tablet: 60px;      // écran 1440
$pad-mobile: 20px;      // mobile 375
$bp-xs: 375px;