$container: 1240px;
$space-outer: clamp(16px, 4vw, 40px); // padding horizontal global
$space-vert: clamp(12px, 2.5vw, 24px);

$primary: #ff6060; // couleur Figma
$text: #000;
$bg-page: #f6f6f6; // fond gris clair de la maquette
$white: #fff;
$black: #000;

$radius-lg: 25px; // radius banner/cartes